@CHARSET "UTF-8";

#text {
	color:gold;
	position: absolute;
	margin-top: -40%;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
	font-size:100px;
}

#button {
	position: absolute;
	margin-top: -30%;
	margin-left:43%;
	text-align: center;
	z-index: 100;
	display:block;
	font-size:40px;
}
